body {
  font-family: "Outfit", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  color: #444444;
}

/* button */
.button {
  display: flex;
  cursor: pointer;
}
.button-link {
  font-family: "Big Shoulders Display", cursive;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.64px;
  color: #fff;
  padding: 24px 32px;
}
.button-icon {
  padding: 24px;
}
/* end button */
.hero {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto 120px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-image-container {
  margin-bottom: 32px;
}
.mobile-image {
  width: 100%;
}

.tablet-image {
  display: none;
}
.hero-text-container {
  padding: 0 16px;
}

.hero-title {
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  color: #151515;
  text-transform: uppercase;
}
.hero-title::before {
  content: "";
  float: right;
  width: calc(100% - 200px);
  height: 55px;
}
.hero-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}

.hero-button-link {
  background-color: #151515;
}
.hero-button-icon {
  background: #d5966c;
}

.hero-button:hover .hero-button-link {
  background-color: #d5966c;
  transition: all 0.4s ease-in-out;
}
.hero-button:hover .hero-button-icon {
  background-color: #151515;
  transition: all 0.4s ease-in-out;
}

.content {
  flex: 1 1 auto;
  margin-bottom: 120px;
  padding: 0 16px;
}
.intro {
  margin-bottom: 32px;
}
.intro-image-container {
  margin-bottom: 25px;
}
.intro-title {
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 21px;
  font-size: 50px;
  line-height: 45px;
  font-weight: 900;
  color: #151515;
  text-transform: uppercase;
}

.intro-title::before {
  content: "";
  float: right;
  width: calc(100% - 200px);
  height: 45px;
}
.intro-text {
  font-size: 18px;
  line-height: 28px;
}

.grid-image-container {
  margin-bottom: 16px;
}
.grid-right-mobile-image {
  margin-bottom: 16px;
}
.grid-right-textContent {
  background-color: #151515;
  color: #fff;
  padding: 48px 24px;
}
.grid-right-title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  margin-bottom: 24px;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
}
.grid-right-title::before {
  content: "";
  float: right;
  width: calc(100% - 205px);
  height: 45px;
}
.grid-right-text {
  font-size: 18px;
  line-height: 28px;
}
.footer {
  background-color: #151515;
  padding: 48px 32px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 38px;
}
.footer-text {
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #fff;
}
.social-link {
  margin-right: 20px;
}
.social-link:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .hero-wrapper {
    flex-direction: row;
  }
  .mobile-image {
    display: none;
  }

  .tablet-image {
    display: block;
    /*  */
  }
  .hero-tablet-image {
    width: 100%;
  }
  .hero-image-container {
    margin-bottom: 0;
    width: 57%;
    max-width: 550px;
  }
  .hero-text-container {
    padding: 0 40px 0 0;
    width: 44.14%;
    margin-left: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    padding: 0 39px;
  }
  .intro-row {
    display: flex;
    gap: 68px;
  }
  .intro-image-container {
    order: 2;
  }
  .intro-textContent {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 180px;
  }
  .content {
    margin-bottom: 180px;
    padding: 0 165px;
  }
}
