body {
  font-family: "Outfit", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
}
/* button */
.button {
  display: flex;
  cursor: pointer;
}
.button-link {
  font-family: "Big Shoulders Display", cursive;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.64px;
  color: #fff;
  padding: 24px 32px;
}
.button-icon {
  padding: 24px;
}
/* end button */
.hero {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto 120px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-image-container {
  margin-bottom: 32px;
}
.hero-image {
  width: 100%;
}
.tablet-image {
  display: none;
}
.hero-text-container {
  padding: 0 16px;
}
.hero-title {
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  color: #151515;
  text-transform: uppercase;
}
.hero-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}

.hero-button-link {
  background-color: #151515;
}
.hero-button-icon {
  background: #d5966c;
}

.hero-button:hover .hero-button-link {
  background-color: #d5966c;
  transition: all 0.4s ease-in-out;
}
.hero-button:hover .hero-button-icon {
  background-color: #151515;
  transition: all 0.4s ease-in-out;
}

.content {
  flex: 1 1 auto;
  margin-bottom: 120px;
}
@media (min-width: 768px) {
  .hero-wrapper {
    flex-direction: row;
  }
  .mobile-image {
    display: none;
  }
  .tablet-image {
    display: block;
    width: 100%;
  }

  .hero-image-container {
    margin-bottom: 0;
    width: 57%;
    max-width: 550px;
  }
  .hero-text-container {
    padding: 0 40px 0 0;
    width: 44.14%;
    margin-left: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 180px;
  }
}
