body {
  font-family: "Outfit", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
}

.hero {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto 120px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-image-container {
  margin-bottom: 32px;
}
.hero-image {
  width: 100%;
}
.hero-text-container {
  padding: 0 16px;
}
.hero-title {
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  color: #151515;
  text-transform: uppercase;
}
.hero-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}
.hero-button {
  display: flex;
  cursor: pointer;
}
.hero-button-link {
  font-family: "Big Shoulders Display", cursive;
  display: inline-block;
  background-color: #151515;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.64px;
  color: #fff;
  padding: 24px 32px;
}
.hero-button-icon {
  padding: 24px;
  background: #d5966c;
}
.hero-button:hover .hero-button-link {
  background-color: #d5966c;
  transition: all 0.4s ease-in-out;
}
.hero-button:hover .hero-button-icon {
  background-color: #151515;
  transition: all 0.4s ease-in-out;
}
/* .hero-button::after {
  content: "";
  background: url(../assets/icon-arrow-right.svg) center no-repeat, #d5966c;
  padding: 37px 24px;
  position: absolute;
  top: 0;
  right: -48px;
} */
.content {
  flex: 1 1 auto;
  margin-bottom: 120px;
}
